@page "/"
@rendermode RenderMode.InteractiveServer
@using Microsoft.AspNetCore.Identity
@using ManageSystemBlazor.Data
@using ManageSystemBlazor.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Login</PageTitle>

<div class="login-section d-flex justify-content-center align-items-center h-100">
    <div class="login-form border border-1 rounded">
        <div class="login-icon text-center">
            <i class='bx bxs-user'></i>
        </div>
        <div class="login-text text-center">MEMBER LOGIN</div>

        <EditForm Model="@Model" OnValidSubmit="@OnSubmitAsync" FormName="Starship3" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="login__input-box mt-3">
                <div class="mb-3">
                    <InputText id="username" @bind-Value="Model!.UserName" class="form-control"></InputText>
                </div>
            </div>
            <div class="login__input-box mt-2">
                <div class="mb-3">
                    <InputText type="password" id="password" required @bind-Value="Model!.Password" class="form-control"></InputText>
                </div>
            </div>
            <div class="text-center login__login-button">
                <button type="submit" class="btn btn-primary mb-3">Login</button>
            </div>
        </EditForm>

        @* <form @onsubmit="OnSubmitAsync" @formname="login" method="post">
            <AntiforgeryToken />
            <div class="login__input-box mt-3">
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
                </div>
            </div>
            <div class="login__input-box mt-2">
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="text-center login__login-button">
                <button type="submit" class="btn btn-primary mb-3">Login</button>
            </div>
        </form> *@
        <div class="login-forgot text-center">
            forgot password? Click to reset
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private LoginUser? Model { get; set; }

    protected override void OnInitialized() =>
        Model ??= new() {  };

    private async Task OnSubmitAsync()
    {
        if (Model != null) {
            var identityUser = await UserManager.FindByEmailAsync(Model.UserName);
            if (identityUser is null)
            {
                Console.WriteLine("False");
            } else {

                bool isSuccess = await UserManager.CheckPasswordAsync(identityUser, Model.Password);
                if(isSuccess)
                {
                    RedirectManager.RedirectTo("/dashboard");
                }
            }
        }
    }
}